body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1b141a;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
}
ul li{
    position: relative;
    list-style: none;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

.icon:before,
.icon:after
{ 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:black;
    border-radius: 50%;
    filter: blur(20px);
    opacity: 0;
    transition: 1s; 
    z-index: -1;    
}


.icon:after
{
    filter: blur(100px);
    /* transform: scale(10rem); */
}


.icon:hover:before,
.icon:hover:after
{
    opacity: 1;
}

.logo
{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    line-height: 80px;
    text-align: center;
    color:white;
    background: #000;
    
    /* transform: scale(2); */
    font-size: 2em;
    border-radius: 50%;
}

.logo .fas
{
    text-shadow: 0 2 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    font-size: -2em;
    transform: rotateY(0deg) scale(1.2);
    opacity: 0.3;
}

.logo:hover .fas
{
    opacity: 1;
    transform: scale(1.5);
}



#node1
{
    background: linear-gradient(45deg, #ff0057, #e64a19);
}

#node2
{
    background: linear-gradient(45deg, #89ff00, #00bcd4);
}

#node3
{
    background: linear-gradient(45deg, #e91e63, #5d02ff);
} 

/* 
.typeContent{
    color: greenyellow;
    font-family: Ubuntu;
}